data/ISIC-images/*
data/HAM10000/all_images/ISIC*
data/HAM10000/metadata/HAM10000*
data/HAM10000/metadata/hmnist*
data/HAM10000/sample/ISIC*
data/labels/sample/*
data/images/test/ISIC*
data/images/train/ISIC*
data/images/val/ISIC*
**/__pycache__/**
.vscode
