data/ISIC-images/*
data/HAM10000/*
data/HAM10000/all_images/*
data/HAM10000/reorganized/*
data/HAM10000/all_images_yolo/*
data/HAM10000/labels/ISIC*
data/HAM10000/metadata/HAM10000*
data/HAM10000/metadata/hmnist*
data/HAM10000/sample/ISIC*
data/dataset/*
images/*
models/*
**/__pycache__/**
.vscode
.ipynb_*
__pycache__